html, body {
  margin:0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: lightseagreen;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  font-size: 40px;
  display: inline-block;
  /* width: 216px; */
  height: 100px;

  color: orange;

  font-weight: bold;
}